<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
                        <h2>{{>header}}</h2>

            <h2>hbs {{title}} page content </h2>
             <h2> COUNTRY IS : {{name}} </h2>
             <h2>  longtitude: {{city}} </h2>
             <h2>  latitude : {{age}} </h2>
             <h2> Vallikunnam :{{mge}}It Is  Sunny And Temp   24.1</h2>
             <img src={{img2}}  alt="">
 
      </body>
</html>